/* Estilo aplicado ao elemento raiz da aplicação */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* Estilo base para a logo */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}



/* Animação que gira a logo continuamente */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Aplica animações apenas se o usuário
não tiver ativado a redução de movimento no sistema */
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



/* Estilo para o container de cartões */
.card {
  padding: 2em;
}


/* Estilo para o texto de documentação */
.read-the-docs {
  color: #888;
}
