/* margin e padding da página inteira em 0 */
* {
    margin: 0;
    padding: 0;
}

/* Utilização de medida em 'rem' e '%' */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    font-size: 1rem;
    color: aliceblue;
    background-image: url('assets/the_final_cut_wpp.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
}

/* Utilização de inline-block para link, nesse caso, vinculado a um ícone */
a {
    display: inline-block;
    margin-left: 50%;
    margin-right: 50%;
}

/* Utilização de ícone bootstrap */
.botao_home {
    margin: 10px;
}

.bi-house {
    color: aliceblue;
    font-size: 150%;
}

.bi-house:hover {
    color: violet;
}

header {
    margin-top: 0;
}

/* Estilização de parágrafo */
p {
    font-size: 125%;
    color: azure;
}

/* Estilo único */
#titulo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
}

#subtitulo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin: 1.5em auto;
    padding: 2em;
    max-width: 455px;
    border-radius: 15px;
}

form,
.bg-gradient {
    background: rgba(55, 42, 68, 0.644);
}

fieldset {
    border: 0;
}

form .bi {
    margin-right: 2%;
    font-size: 105%;
}

input,
select,
textarea,
button {
    border-radius: 3px;
}

.campo {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.campo label {
    margin-bottom: 0.2em;
    color: violet;
}

.campo input[type="text"],
.campo input[type="email"],
.campo select {
    padding: 0.2em;
    border: 1px solid purple;
    box-shadow: 2px 2px 2px darkslateblue;
    font-size: 100%;
    width: 175px;
}

.campo input[name="usuario"] {
    width: 200px;
}

.campo select[id="genero"] {
    width: 165px;
}

.campo input[id="email"],
.campo input[id="fav_msc"],
.campo select[id="fav_alb"] {
    width: 365px;
}

.campo textarea {
    border: 2px solid purple;
    box-shadow: 2px 2px 2px darkslateblue;
    height: 150px;
    font-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    resize: none;
}

/* utilização de medida 'em' */
.campo select option {
    padding-right: 1em;
}

.campo input:focus,
.campo select:focus,
.campo textarea:focus {
    background: whitesmoke;
}

.btn {
    font-size: 1.2rem;
    background: darkorchid;
    border: 0;
    color: white;
    padding: 0.2em 0.5em;
    box-shadow: 2px 2px 2px whitesmoke;
    text-shadow: 1px 1px 1px whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

.btn:hover {
    background: purple;
    box-shadow: inset 2px 2px 2px whitesmoke;
    text-shadow: none;
}

/* Utilização de medida em px */
input[type="range"] {
    appearance: none;
    display: inline-block;
    width: 200px;
    height: 8px;
    border-radius: 5px;
    outline: none;
    border: 2px solid purple;
    background: whitesmoke;
}